*{
  font-family: 'lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#produtos{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

#carrinho{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
  display: block;
}

.produto-single{
  width: 32%;
  margin-right: 1%;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.produto-single img{
  max-width: 100%;
}

.produto-single p{
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.produto-single a{
  text-decoration: none;
  color: white;
  background-color: #5fb382;
  text-align: center;
  display: block;
  padding: 4px 0;
  font-size: 18px;
}

h2{
  background-color: #4c3282;
  padding: 10px 0;
  text-align: center;
  color: white;
}

.info-single-checkout{
  border-bottom: 2px dotted;
  padding: 10px 0;
}

/* Min Width 1920px */
@media all and (min-width: 1921px) {
  /* General */
  .content-size {
      width: 70%;
}
/* Min Width 1024px */
@media all and (min-width: 1024px) {
  
  /* General */
  .content-size {
      width: 85%;
  }
}
/* Min Width 786px */
@media all and (min-width: 786px) {
  
}
/* Min Width 480px */
@media all and (min-width: 480px) {

}